/**
 * CSS: fundamentals
 * https://freeartbureau.github.io/fundamentals/
 */

 @font-face {
    font-family: 'firaMono';
    src:url('../fonts/fira/FiraMono-Regular.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'firaLight';
    src:url('../fonts/firaSans/FiraSans-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'firaBold';
    src:url('../fonts/firaSans/FiraSans-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FiraLightItalic';
    src:url('../fonts/firaSans/FiraSans-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

body {
    font-family:'firaLight';
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    font-family: "firaBold";
    font-size: 4em;
}

h2 {
  font-family: "FiraLightItalic";
  font-size: 2.7em;
  color: orange;
  text-decoration: underline;
}

h4 {
    margin: 0;
    font-size: 0.9em;
}


p {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    margin-top: 5px;
    font-size: .8em;
}


nav {
  font-family: "firaMono";
  font-size: 1.0em;
  color: blue;
}

hr {
  margin-left: 0;
  width: 680px;
}

li {
  margin-left: 1.5em;
}
