/**
 * CSS: fundamentals
 * https://freeartbureau.github.io/fundamentals/
 */

body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    font-size: 4em;
}

h4 {
    font-size: 0.9em;
}


p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    margin-top: 5px;
    font-size: .8em;
}


nav {
  font-size: 1.0em;
  color: blue;
}

hr {
  margin-left: 0;
  width: 680px;
}
