/**
 * CSS: fundamentals
 * https://freeartbureau.github.io/fundamentals/
 */

 @font-face {
    font-family: 'firaMono';
    src:url('../fonts/fira/FiraMono-Regular.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'firaLight';
    src:url('../fonts/firaSans/FiraSans-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'firaBold';
    src:url('../fonts/firaSans/FiraSans-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FiraLightItalic';
    src:url('../fonts/firaSans/FiraSans-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}

body {
    font-family:'firaLight';
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

h1 {
    font-family: "firaBold";
    font-size: 4em;
    margin-bottom: 0.1em;
}

h2 {
  font-family: "firaBold";
  font-size: 1.6em;
  line-height: 1.6em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h4 {
  font-family: "FiraLightItalic";
  font-size: 1.0em;
  line-height: 0.3em;
  margin-bottom: 2%;
}

.info{
    font-family: "firaMono";
    font-size: 0.9em;
    line-height: 0.8em;
    color: red;
}

p {
  font-family:'firaLight';
  font-size: 1.4em;
  line-height: 1.7em;
}

footer {
    margin-top: 5px;
    font-size: .8em;
}


nav {
  font-family: "firaMono";
  font-size: 1.0em;
  color: blue;
}

hr {
  margin-left: 0;
  width: 680px;
}

.body_text {
  position: relative;
  width: 100%;
  max-width: 960px;
  /*margin: 0 auto;*/
  margin: 5px auto 6px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-gap: 50px;
}

.cards div{
  margin-left: 20px;
  padding: 0.2em;

}


@media (min-width: 901px) {
  .container {
    /*display:grid;*/
    /*margin: 5% 5%;*/

    /* top | horizontal | bottom */
    /* margin: 1em auto 2em; */

    /* top | right | bottom | left */
    /* margin: 2px 1em 0 auto; */

  }
}

/**
 * Transitions
 */

 img {
   max-width: 100%;
 	 height: auto;
 }


 img.grow {
     -webkit-transition: -webkit-transform 0.3s; /* Safari */
      transition: transform 0.3s;
 }

 img.grow:hover {
       -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
        transition-timing-function: ease-out;
       -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
       transform: scale(1.1);
 }
